@font-face {
  font-family: 'Fredericka';
  src: url("/assets/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flowmery-Regular';
  src: url("/assets/fonts/Flowmery-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thebarstaindemo';
  src: url("/assets/fonts/ThebarstaindemoExtrude-j9aY7.otf");
  font-weight: normal;
  font-style: normal;
}

.inner-content-fw {
  padding-bottom: 48px;
  padding-right: 48px;
  padding-left:48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container-fw {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.16);
    width: min(435px, calc(100% - 24px));
    border-radius: 16px;
    background-color: white;
}

.icon {
  width: 30px;
  height: auto;
}

.boldText {
  font-weight: bold;
}

/* GradientDivider component */

.divider-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
}

/* Adjust this value to move the text left */
.divider-line.left {
  flex-basis: 15px; /* try 20px, 100px, etc. */
  height: 1px;
  background: linear-gradient(to right, white, #888);
}

.divider-line.right {
  flex: 1;
  height: 1px;
  background: linear-gradient(to right, #888, black);
}

.divider-text {
  font-size: small;
}

.disabled {
    opacity: 0.5; /* Makes the box look faded */
    pointer-events: none; /* Prevents interaction */
}

.square-list {
    list-style-type: square;
}
        /* Change bullet type to circle */
.circle-list {
    list-style-type: circle;
}

.mainComponentPanel {
    margin-left: 25px;
    width: 1200px;
}

.filesComponentPanel {
    margin-left: 25px;
    width: 800px;
}

/* Files */
.filesCardManuscripts {
    background-color:  #fdeee3 !important;
    margin-bottom: 20px;
    margin-right: 20px;
}

.filesCardFeedback {
    background-color:  #fdeee3 !important;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Groups */
.groupSubPanel {
    width: 75%;
}

/* Readings */
.readingSubPanel {
    width: 33%;
}

.readingReviewButton {
    width: 110px;
}

.readingCardMyFiles {
    background-color:  #fdeee3 !important;
    margin-bottom: 20px;
    margin-right: 20px;
}

.readingCardReview {
    background-color:  #e3fdfb !important;
    width: 300px !important;
    
}

.readingCardSignup {
    background-color:  #e3fdfb !important;
    /* background-color: #e3e5fd !important; */
    width:350px;
    /* height: 200px; */
    /* border-color: gold !important;
    border-style: solid !important;
    border-width: 3px !important; */
}

/* Dashboard */
.dashboardSubPanel {
    width: 40%;
    background-color: whitesmoke;
}

.dashboardSubPanelColors {
    background-color: whitesmoke;
}

.sidebarIcon {
    filter: brightness(1.5) !important;
}

.ProseMirror {
  min-height: 120px;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  width: 500px;
  height:auto;
}
