@font-face {
  font-family: 'Fredericka';
  src: url("/assets/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flowmery-Regular';
  src: url("/assets/fonts/Flowmery-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thebarstaindemo';
  src: url("/assets/fonts/ThebarstaindemoExtrude-j9aY7.otf");
  font-weight: normal;
  font-style: normal;
}

.inner-content-fw {
  padding-bottom: 48px;
  padding-right: 48px;
  padding-left:48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container-fw {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.16);
    width: min(435px, calc(100% - 24px));
    border-radius: 16px;
    background-color: white;
}

.icon {
  width: 30px;
  height: auto;
}

.boldText {
  font-weight: bold;
}

.line-with-text {
  display: block;           /* Allow text to take its own line */
  position: relative;       /* Allow positioning of the line */
  padding-left: 10px;      /* Space before the text */
  text-align: left;         /* Left alignment */
}

.line-with-text::before {
  content: '';
  position: absolute;      /* Position the line */
  left: 0;                /* Align it to the left */
  top: 50%;               /* Center it vertically */
  width: 100%;            /* Full width for the line */
  height: 1px;            /* Define height */
  border-top: 1px solid gray ; /* Customize line style */
  z-index: -1;            /* Move behind the text */
}

.line-with-text span {
  position: relative;      /* Ensure text is above the line */
  background-color: rgb(29,29,29);   /*Background covers part of the line*/
  padding: 0 12px; 
}